*{
    background-color: #332b2b;
    color: wheat;
}


.box {
    background-color: wheat;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

.square{
    aspect-ratio: 1/1;
}


.ratio16-10{
    aspect-ratio: 16/10;
}