

.card{
    color: white;
    max-width: 40rem;
    padding: 1rem;
    border-radius: 1rem;
}



.card p{
    color: #b6abab;
}

.card-pic{
    width: 3rem;
    overflow: hidden;
}

.card-detail{
    margin-left: 1rem;
}

